<h1>Fox is Engi-Here</h1>
<p class="mute">
	"Javascript is a mistake"
</p>
<hr />
<ul>
	<li><a href="/index.html">Home</a></li>
	<li><a href="/experiences/index.html">Experiences</a></li>
	<li><a href="/projects/index.html">Projects</a></li>
	<li><a href="/blog/index.html">Blog</a></li>
</ul>
<hr />
<ul class="socials">
	<li><a href="https://blob.cat/akatsukilevi" title="Fediverse"><i class="fa fa-mastodon"></i></a></li>
	<li><a href="https://tumblr.com/afoxwithpenguins" title="Tumblr"><i class="fa fa-tumblr"></i></a></li>
	<li><a href="https://github.com/akatsukilevi" title="Github"><i class="fa fa-github"></i></a></li>
	{{> _themes_dropdown }}
</ul>