<li>
	<a class="fa fa-gear"></a>
	<ul class="dropdown">
		<li><a href="javascript:void(0)" onclick="setTheme('gruvbox')">Gruvbox</a></li>
		<li><a href="javascript:void(0)" onclick="setTheme('ayu')">Ayu</a></li>
		<li><a href="javascript:void(0)" onclick="setTheme('frappe')">Frappe</a></li>
		<li><a href="javascript:void(0)" onclick="setTheme('latte')">Latte</a></li>
	</ul>
</li>