<!DOCTYPE html>
<html lang="en" data-theme="gruvbox">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
	<meta name="author" content="Felipe Angelo Sgarbi" />
	<meta name="theme-color" content="#3e3e3e" />
	<meta property="locale" content="en_US" />

	<link rel="stylesheet" href="/assets/styles/global.scss">
	<title>Fox is Engi-Here</title>
</head>

<body>
	<nav>{{> _nav }}</nav>
	<main>{{> @partial-block }}</main>

	<script type="module" src="/assets/theme.switcher.js"></script>
</body>

</html>