@import './firacode';

:root {
	--theme-primary: #282828;
	--theme-secondary: #cc241d;
	--theme-tertiary: #98971a;
	--theme-quaternary: #458588;

	--color-red: #cc241d;
	--color-red-bright: #fb4934;

	--color-green: #98971a;
	--color-green-bright: #b8bb26;

	--color-yellow: #d79921;
	--color-yellow-bright: #fabd2f;

	--color-blue: #458588;
	--color-blue-bright: #83a598;

	--color-purple: #b16286;
	--color-purple-bright: #d3869b;

	--color-aqua: #689d6a;
	--color-aqua-bright: #8ec07c;

	--color-orange: #d65d0e;
	--color-orange-bright: #fe8019;

	--theme-dark-0: #282828;
	--theme-dark-1: #3c3836;
	--theme-dark-2: #3d3d3d;
	--theme-dark-3: #504945;
	--theme-dark-4: #665c54;
	--theme-dark-5: #7c6f64;

	--theme-foreground: #ebdbb2;

	--link-color: var(--color-orange);
}

body {
	//* Disable user selection to avoid some weird UI shenanigans
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html,
body,
#root {
	width: 100vw;
	height: 100vh;
	display: flex;
	padding: 0;
	margin: 0;
	overflow: hidden;
	justify-content: center;

	font-family: 'Fira Code', monospace;
	font-variant-ligatures: normal;

	@supports (font-variation-settings: normal) {
		font-family: 'Fira Code VF', monospace;
	}
}

html,
body {
	background: black;
}

a {
	color: var(--link-color);
}
