---
import BaseLayout from '../layouts/BaseLayout.astro';
import TimeLineElement from '../components/cv/TimeLine.astro';
---

<BaseLayout title="Resume">
	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Profile</div>
	</div>

	<div class="mb-10 text-justify">
		Background in cloud, desktop and mobile platforms. Skilled in using JavaScript/Typescript, .NET, Java, and SQL/No-SQL. Complex
		problem-solver with an analytical driven mindset. Dedicated to achieving demanding development objectives and innovating with new
		solutions.
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Experience</div>
	</div>

	<div class="time-line-container mb-10">
		<TimeLineElement
			title="Grupo Ti Solução"
			link="https://www.grupotisolucao.com.br"
			subtitle="Senior Developer - March 3rd, 2015 -> June 15th, 2017"
			desc="Developed a national-scale payroll loan management system responsible for coordinating multiple distributors around the country, keeping control of multiple vendors financial data, ensuring clients loan records were synced and updated with multiple banks while keeping a central management system for a full-view details of the performance of all sellers, by using stability-first languages and distributed systems to guarantee 0% downtime across the whole country, which helped them to reach a all-time record sales of $ 500,000.00 after 3 months using the software in production. Engineered hardware maintenance tools and benchmarks for ensuring the quality and stability of multiple types of hardware, ranging from office computers to large-scale servers and across multiple operating systems."
		/>
		<TimeLineElement
			title="SigaMeCar"
			link="https://www.sigamecar.com.br"
			subtitle="Senior Developer - March 3rd, 2015 -> June 15th, 2017"
			desc="Developed a high availability, fault tolerant car tracking platform from scratch following Industry's best practices, with multi-platform compatibility to all major browsers and phone operating systems, while developing, implementing and testing a satellite-based GPS tracker solution to multiple models and brands of vehicles, ranging from personal vehicles, enterprise-owned trucks and industrial machinery, improving the security of the vehicles of our clients by 90% while reducing the cost of maintenance of the vehicle trackers by 50%. Also created custom solutions to specific clients to manage and control fleets of vehicles and their drivers using a AI-powered platform that insured all vehicles were in the right place at the right time in safety, providing over 40% increase on revenue on clients using the system for management of their drivers."
		/>
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Education</div>
	</div>

	<div class="time-line-container mb-10">
		<TimeLineElement
			title="E.E. Deputado Benedito Matarazzo"
			subtitle="January 1st, 2012 -> December 20th, 2018"
			desc="College Degree, Computer Programming"
		/>
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Events & Talks</div>
	</div>

	<div class="time-line-container mb-10">
		<TimeLineElement
			title="HashiTalks 2023"
			link="https://hashi.co/hashitalks-2023"
			subtitle="February 17th, 2023 - Hashicorp"
			desc="A speech about the concept of Containerized Infrastructures with Immutable Clusters, explaining about the adoption of immutable operating systems such as CoreOS for creating highly predictable and easily scalable containerized infrastructures using the HashiStack"
		/>
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Skills</div>
	</div>

	<ul class="list-disc md:columns-5 columns-2 mx-6">
		<li>English</li>
		<li>MySQL</li>
		<li>MariaDB</li>
		<li>PostgreSQL</li>
		<li>Yugabyte</li>
		<li>CockroachDB</li>
		<li>SurrealDB</li>
		<li>HTML</li>
		<li>CSS</li>
		<li>SASS</li>
		<li>JavaScript</li>
		<li>TypeScript</li>
		<li>Node.js</li>
		<li>React</li>
		<li>Vue</li>
		<li>Svelte</li>
		<li>Bootstrap</li>
		<li>Taildwind</li>
		<li>MaterialUI</li>
		<li>DaisyUI</li>
		<li>JQuery</li>
		<li>Wordpress</li>
		<li>Vitepress</li>
		<li>Astro</li>
		<li>Java</li>
		<li>Kotlin</li>
		<li>.NET Core</li>
		<li>C++</li>
		<li>C#</li>
		<li>C</li>
		<li>Rust</li>
		<li>Haxe</li>
		<li>Git</li>
		<li>Linux</li>
		<li>CoreOS</li>
		<li>Nomad</li>
		<li>Consul</li>
		<li>Terraform</li>
		<li>Docker</li>
		<li>Podman</li>
	</ul>
</BaseLayout>
