@keyframes spinClockwise {
	20% {
		transform: rotateZ(0deg);
	}

	40% {
		transform: rotateZ(90deg);
	}

	60% {
		transform: rotateZ(180deg);
	}

	80% {
		transform: rotateZ(270deg);
	}
}

@keyframes fade {
	0% {
		transform: scale(0.8);
		opacity: 0;
	}
	50% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0.8);
		opacity: 0;
	}
}

.loaderRoot {
	position: absolute;
	bottom: 25px;
	right: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	background: white;
	border-radius: 10px;
	animation: 3s spinClockwise ease-in-out forwards infinite;

	.loaderSpinner {
		background: black;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		border-radius: 50%;

		.loaderInner {
			background: white;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			animation: 3s fade ease-in-out forwards infinite;

			.loaderBlack {
				background: black;
				width: 30px;
				height: 30px;
				border-radius: 50%;
			}
		}
	}
}
