* {
	font-variant-ligatures: contextual;
}

:root {
	/** Fonts */
	--vp-font-family-base: 'Fira Sans';
	--vp-font-family-mono: 'Fira Code';

	/** Colors */
	--vp-c-bg: #fdfcf4; // bg0_h

	--vp-code-block-bg: #282828;
	--vp-code-block-bg-light: #fbf1c7;
	--vp-code-block-divider-color: #928374;

	--vp-c-bg-elv: #e9dfc7; // bg1
	--vp-c-bg-elv-up: #d1c8b5; // bg2
	--vp-c-bg-elv-down: #f5f3e2; // bg0_h
	--vp-c-bg-elv-mute: #ebe5d1; // bg0_s

	--vp-c-bg-soft: #fdf7dd; // bg0
	--vp-c-bg-soft-up: #ebe5d1; // bg0_s
	--vp-c-bg-soft-down: #e9dfc7; // bg1
	--vp-c-bg-soft-mute: #d1c8b5; // bg2

	--vp-c-bg-alt: #ece7d5; // bg0_s

	--vp-c-mute: #d1c8b5; // bg2
	--vp-c-mute-light: #b9b09f; // bg3
	--vp-c-mute-lighter: #aaa296; // bg4
	--vp-c-mute-dark: #e9dfc7; // bg1
	--vp-c-mute-darker: #fdf7dd; // bg0

	--vp-c-white: #fbf1c7;
	--vp-c-black: #282828;

	--vp-c-gray: #928374;

	--vp-c-text-light-1: #282828;
	--vp-c-text-light-2: #3c3836;
	--vp-c-text-light-3: #504945;

	--vp-c-text-dark-1: #fbf1c7;
	--vp-c-text-dark-2: #ebdbb2;
	--vp-c-text-dark-3: #d5c4a1;

	--vp-c-green: #98971a;
	--vp-c-green-light: #79740e;
	--vp-c-green-lighter: #999211;
	--vp-c-green-dark: #5f5b0a;
	--vp-c-green-darker: #3f3c08;
	--vp-c-green-dimm-1: rgba(152, 151, 26, 0.05);
	--vp-c-green-dimm-2: rgba(152, 151, 26, 0.2);
	--vp-c-green-dimm-3: rgba(152, 151, 26, 0.5);

	--vp-c-yellow: #d79921;
	--vp-c-yellow-light: #b57614;
	--vp-c-yellow-lighter: #b67711;
	--vp-c-yellow-dark: #8a5b0f;
	--vp-c-yellow-darker: #6d480b;
	--vp-c-yellow-dimm-1: rgba(215, 153, 33, 0.05);
	--vp-c-yellow-dimm-2: rgba(215, 153, 33, 0.2);
	--vp-c-yellow-dimm-3: rgba(215, 153, 33, 0.5);

	--vp-c-red: #cc241d;
	--vp-c-red-light: #9d0006;
	--vp-c-red-lighter: #c90007;
	--vp-c-red-dark: #690004;
	--vp-c-red-darker: #490002;
	--vp-c-red-dimm-1: rgba(204, 36, 29, 0.05);
	--vp-c-red-dimm-2: rgba(204, 36, 29, 0.2);
	--vp-c-red-dimm-3: rgba(204, 36, 29, 0.5);

	--vp-c-sponsor: #b16286;
}

.dark {
	--vp-c-bg: #1d2021; // bg0_h

	--vp-c-bg-elv: #3c3836; // bg1
	--vp-c-bg-elv-up: #504945; // bg2
	--vp-c-bg-elv-down: #1d2021; // bg0_h
	--vp-c-bg-elv-mute: #32302f; // bg0_s

	--vp-c-bg-alt: #32302f; // bg0_s

	--vp-c-bg-soft: #282828; // bg0
	--vp-c-bg-soft-up: #32302f; // bg0_s
	--vp-c-bg-soft-down: #3c3836; // bg1
	--vp-c-bg-soft-mute: #504945; // bg2

	--vp-c-mute: #504945; // bg2
	--vp-c-mute-light: #665c54; // bg3
	--vp-c-mute-lighter: #7c6f64; // bg4
	--vp-c-mute-dark: #3c3836; // bg1
	--vp-c-mute-darker: #282828; // bg0

	--vp-code-block-divider-color: #928374;

	--vp-c-green: #98971a;
	--vp-c-green-light: #b8bb26;
	--vp-c-green-lighter: #e0e250;
	--vp-c-green-dark: #8f911e;
	--vp-c-green-darker: #6d6e19;
	--vp-c-green-dimm-1: rgba(152, 151, 26, 0.05);
	--vp-c-green-dimm-2: rgba(152, 151, 26, 0.2);
	--vp-c-green-dimm-3: rgba(152, 151, 26, 0.5);

	--vp-c-yellow: #d79921;
	--vp-c-yellow-light: #fabd2f;
	--vp-c-yellow-lighter: #ffd46e;
	--vp-c-yellow-dark: #d8a327;
	--vp-c-yellow-darker: #9e771d;
	--vp-c-yellow-dimm-1: rgba(215, 153, 33, 0.05);
	--vp-c-yellow-dimm-2: rgba(215, 153, 33, 0.2);
	--vp-c-yellow-dimm-3: rgba(215, 153, 33, 0.5);

	--vp-c-red: #cc241d;
	--vp-c-red-light: #fb4934;
	--vp-c-red-lighter: #ff8274;
	--vp-c-red-dark: #a01a15;
	--vp-c-red-darker: #801511;
	--vp-c-red-dimm-1: rgba(204, 36, 29, 0.05);
	--vp-c-red-dimm-2: rgba(204, 36, 29, 0.2);
	--vp-c-red-dimm-3: rgba(204, 36, 29, 0.5);

	--vp-c-sponsor: #b16286;
}