<div class="drawer-side bg-base-200">
	<label for="my-drawer" class="drawer-overlay bg-base-200"></label>
	<div class="menu flex flex-col flex-nowrap p-4 overflow-y-auto w-[21rem] bg-base-200 text-base-content">
		<div class="w-fit">
			<a href="/">
				<div class="avatar transition ease-in-out w-1/2 hover:scale-[102%] block m-auto mt-3 mb-6">
					<div>
						<img class="mask mask-circle" src="/profile.png" alt="profile image" />
					</div>
				</div>
			</a>
		</div>
		<ul class="grow shrink">
			<!-- Sidebar content here -->
			<li><a id="home" href="/">Home</a></li>
			<li><a id="projects" href="/projects">Projects</a></li>
			<li><a id="work" href="/work">Work Experiences</a></li>
			<li><a id="blog" href="/blog/">Blog</a></li>
			<li><a id="cv" href="/cv">CV</a></li>
			<li><a href="mailto:akatsukilevi@duck.com">Contact</a></li>
		</ul>
		<div class="social-icons px-4 my-2 flex self-center">
			<a href="https://github.com/akatsukilevi" target="_blank" class="mx-3" aria-label="Github" title="Github">
				<i class="ph ph-github-logo"></i>
			</a>
			<a href="https://gitlab.com/akatsukilevi" target="_blank" class="mx-3" aria-label="Gitlab" title="Gitlab">
				<i class="ph ph-gitlab-logo"></i>
			</a>
			<a href="https://twitter.com/akatsuki_levi" target="_blank" class="mx-3" aria-label="Twitter" title="Twitter">
				<i class="ph ph-twitter-logo"></i>
			</a>
			<a
				href="https://www.linkedin.com/in/felipe-angelo-sgarbi-fullstack/"
				target="_blank"
				class="mx-3"
				aria-label="LinkedIn"
				title="LinkedIn"
			>
				<i class="ph ph-linkedin-logo"></i>
			</a>
			<a href="/rss.xml" target="_blank" class="mx-3" aria-label="RSS Feed" title="RSS Feed">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					style="fill: currentColor;transform: ;msFilter:;"
					><path d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"></path><path
						d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"></path><circle cx="6" cy="18" r="2"></circle>
				</svg>
			</a>
		</div>
	</div>
</div>
<script>
	const homeLink = document.getElementById('home')!;
	const projectsLink = document.getElementById('projects')!;
	const workLink = document.getElementById('work')!;
	const blogLink = document.getElementById('blog')!;
	const cvLink = document.getElementById('cv')!;
	const url = window.location.href;

	const pages = [homeLink, projectsLink, workLink, blogLink, cvLink];
	const activeClass = 'active';
	let isHome = true;

	pages.forEach((elem) => {
		if (!url.includes(elem.id)) return;

		isHome = false;
		elem.classList.add(activeClass);
	});

	if (isHome) {
		homeLink.classList.add(activeClass);
	}
</script>
