.profileCard {
	display: flex;
	flex-direction: column;
	background: url('/header.jpg');
	background-size: cover;

	.profileHeader {
		box-shadow: 0px 0px 5px black;
		backdrop-filter: blur(1.5px);

		justify-content: start;
		align-items: flex-end;
		flex-direction: row;
		display: flex;

		padding: 10px;
		height: 25vh;
		gap: 10px;

		.profilePicture {
			height: 96px;
			width: 96px;

			background-image: url('/logo.jpg');
			box-shadow: 0px 0px 5px black;
			background-position: center;
			background-size: cover;
			border-radius: 50%;
		}

		.profileName {
			color: var(--theme-foreground);
			text-shadow: 0px 0px 4px black;

			justify-content: flex-end;
			align-items: flex-end;
			align-self: flex-end;
			display: flex;
			padding: 5px;
			margin: 0px;
		}

		.credits {
			color: var(--theme-foreground);
			text-shadow: 0px 0px 4px black;

			font-size: x-small;
		}
	}
}
