---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Projects">
	<div class="pb-12 mt-5">
		<div class="text-3xl w-full font-bold mb-5">WIP Page</div>
		<div class="py-2">
			<text class="text-lg">
				My idea is to fill this page up with a small description of the game and other things, but for now it is just a WIP page
			</text>
		</div>
		<div class="mt-8">
			<a class="btn" href="https://github.com/akatsukilevi/crygotchi/" target="_blank"> Repository</a>
		</div>
	</div>
</BaseLayout>
