---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Work Experience - Grupo Ti Solução">
	<div class="pb-12 mt-5">
		<div class="text-3xl w-full font-bold mb-5">Grupo Ti Solução</div>
		<div class="inline opacity-75">
			<p>March 3rd, 2015 - June 15th, 2017</p>
			<p>Senior Developer</p>
		</div>
		<div class="py-2">
			<text class="text-lg">
				My first actual job, I started working there at a rather young age part time to gain experience. I started developing small
				tools, macros and VBA scripts for Excel.
			</text>
		</div>
		<div class="mt-8">
			<a class="btn" href="https://www.grupotisolucao.com.br" target="_blank"> Website</a>
		</div>
	</div>

	<div>
		<div class="text-2xl w-full font-bold mb-5">First large project - Payroll loan system</div>
	</div>

	<div class="py-2">
		<p class="text-lg my-2">
			At around 6 months after I started working at this company, we started a new project for a client, a payroll loan system that
			was aimed to center all the vendors financial data into a single system.
		</p>
	</div>

	<div class="divider my-0"></div>

	<div>
		<div class="text-2xl w-full mb-5">The premise of the project</div>
	</div>

	<div class="py-2">
		<p class="text-lg my-2">
			The goal for this system was to ensure all the client loan records were up-to-date and synced on all stores at the same time,
			while keeping a central management system for a full-view details of the performance of all sellers.
		</p>
		<p class="text-lg my-2">
			The initial development took a few meetings to bring some sort of prototype, yet after the first prototype was put up, it
			quickly showed how it was what the client had been searching for.
		</p>
	</div>

	<div class="divider my-0"></div>

	<div>
		<div class="text-2xl w-full mb-5">The major challenge</div>
	</div>

	<div class="py-2">
		<p class="text-lg my-2">
			The biggest challenge with this project was due to the volume of data. In average, each client had aroud 10 steps that had to be
			kept track of, and each store had around 25.000 clients. Considering how there was around 40 stores around the country, we had
			to keep track of around 10 million steps on the system.
		</p>
		<p class="text-lg my-2">What we had to do was a distributed system:</p>
		<ul class="list-inside list-disc px-2 py-2">
			<li>One server for database, used to store all information and long-term data</li>
			<li>One server for real-time updates, used to keep the latest and fastest updating changes for each step</li>
			<li>One server for the application, where all the users would be connected to interact with the system.</li>
		</ul>
		<p class="text-lg my-2">We choose PHP for the Back-End, Node.JS for the real-time updates and Angular for the Front-end.</p>
	</div>

	<div class="divider my-0"></div>

	<div>
		<div class="text-2xl w-full mb-5">The first release and first biggest milestone</div>
	</div>

	<div class="py-2">
		<p class="text-lg my-2">
			The first production release took around 6 months, while the initial training of the users post-release changes took around 3
			more month, so realistically the time from initial scratch to production was around 9 months.
		</p>
		<p class="text-lg my-2">
			3 months after the software was put in production and all users migrated into the platform, our client achieved a major
			milestone of the software. A new all-time gross sales record was set, a grand total of R$ 1.000.000 ($ 500.000).
		</p>
	</div>

	<div class="divider my-0"></div>

	<div>
		<div class="text-2xl w-full mb-5">Long term support and discontinuation</div>
	</div>

	<div class="py-2">
		<p class="text-lg my-2">
			The software continued to be maintained and developed all the way to around August 2019, major updates and new functionalities
			being implemented as requested by the user, the most notably one being a excel importing feature.
		</p>
		<p class="text-lg my-2">
			This feature involved the platform parsing and importing data coming from the banks in order to be able to update all the state
			of all the client steps.
		</p>
		<p class="text-lg my-2">Yet, due to a few legal changes on the country, the software was discontinued in 2019.</p>
	</div>
</BaseLayout>
