---
import BaseLayout from '../../layouts/BaseLayout.astro';
import HorizontalCardWork from '../../components/HorizontalCardWork.astro';
---

<BaseLayout title="Work Experiences">
	<div>
		<div class="text-3xl w-full font-bold mb-5">Past work experiences</div>
	</div>

	<HorizontalCardWork
		title="Grupo Ti Solução"
		from="March 3rd, 2015"
		to="June 15th, 2017"
		position="Senior Developer"
		url="/work/grupo_ti_solucao"
		target="_self"
	/>

	<div class="divider my-0"></div>

	<div>
		<div class="text-3xl w-full font-bold mb-5">Current work experiences</div>
	</div>

	<HorizontalCardWork
		title="SigaMeCar"
		from="June 15th, 2017"
		to="Present"
		position="Senior Developer"
		url="/work/sigamecar"
		target="_self"
	/>
</BaseLayout>
