@import '../../theme/header';
@import './description';
@import './menu';

.page {
	background: linear-gradient(-45deg, var(--theme-dark-0) 0%, var(--theme-dark-1) 100%);
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.circles {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	z-index: 2;

	@media screen and (min-width: 576px) {
		bottom: -5%;
		left: 25%;
		width: 46%;
		height: 105vh;
	}
}
